.img-grid {
  display: flex;
  margin: 0 auto;
  margin-left: 6rem;
  flex-wrap: wrap;
}

.level {
  text-align: left;
  color: #fff;
  margin-left: 7rem;
}

.grid-img {
  max-width: 90px;
  height: 10%;
  display: block;
  flex-basis: 100%;
  margin: 1rem;
  margin-left: 2rem;
}

@media only screen and (min-width:640px) {
  .grid-img {
    flex-basis: 50%;
  }

}

@media screen and (max-width: 640px) {
  .level {
    margin-left: 3rem;
  }
}