.about-me {
  margin: 1rem 3rem;
  padding: 2rem 4rem;
  word-wrap: break-word;
  text-align: justify;
}

.title {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

@media screen and (max-width: 640px) {
  .about-me {
    padding: 0;
    margin: 2rem;
    word-wrap: break-word;
    font-size: 1rem;
  }

  .title {
    font-size: 1.4rem;
  }
}